[submodule "ressources/leaflet-omnivore"]
	path = ressources/leaflet-omnivore
	url = git://github.com/lmapii/leaflet-omnivore.git
[submodule "ressources/leaflet-makimarkers"]
	path = ressources/leaflet-makimarkers
	url = git://github.com/lmapii/Leaflet.MakiMarkers.git
[submodule "ressources/leaflet-markercluster"]
	path = ressources/leaflet-markercluster
	url = git://github.com/lmapii/Leaflet.markercluster.git
